[2016-05-02 08:51] raspu opened #1 "Multiline comments don't work with CodeAttributedString"
CodeAttributedString currently don't support multi line comments as is processing only the line that is being edited.

[2016-05-24 20:45] raspu opened #3 "CodeAttributedString needs refactoring"
CodeAttributedString should expose a theme only, and the required setters.

[2016-05-28 17:02] #3 closed

[2016-07-13 22:19] facundomedica opened #4 "Color of text not updating when changing theme"
I'm testing the sample app, I've found that adding `self.textStorage.language = self.textStorage.language` makes the color of the text update.

Maybe consider adding a function that makes: `highlight(NSMakeRange(0, stringStorage.length))` when theme is changed?

[2016-07-14 10:24] raspu commented on #4
I see your point, and it would be nice to make this behavior consistent. I have two possible solutions:

**1.**  Stop exposing `highlightr` inside `CodeAttributedString`, and make a façade with all the useful methods and props exposed directly in `CodeAttributedString`.
**2.**  Make `highlightr` KVO compatible (Probably I'll do this in the future anyway) and listen for changes on the theme propert

[2016-09-04 20:06] #4 closed

[2016-12-04 12:47] Hengyu opened #6 "Can't build unless remove "[CP] Check Pods Manifest.lock" from "Build Phases" tab in project settings"
After I ran "pod install" or "pod update" in the project directory, than select build the project in the Xcode, some _errors_ appeared.
Just like this:
<img width="842" alt="screenshot" src="https://cloud.githubusercontent.com/assets/4032674/20866212/8bfedbbc-ba62-11e6-9881-c2d2845982f6.png">

If I removed "[CP] Check Pods Manifest.lock" from "Build Phases" tab in project settings, the errors are

[2016-12-19 11:21] #6 closed

[2016-12-23 04:51] droidery opened #8 "[Question] Adjusting font size/font?"
Is there a way to adjust the font-size and font that Highlightr uses in the attributes.

[2016-12-23 06:06] rudedogg commented on #8
Hey @droidery

I do something similar using this:
[code]

`func setCodeFont(_ font: RPFont)` tries to get a normal/bold/unique version of the specified font and set it for the variables listed below.

If you'd rather specify a different font for the normal/bold/italic type, you could set these variables of the theme instance rather than calling `setCodeFont` (RPFont is just a typealias for `UIFont

[2016-12-24 11:31] #8 closed

[2016-12-27 02:54] droidery opened #9 "Adding custom attributes?"
I'm having a bit of trouble adding my own attributes to Highlightr.

When not using Highlightr, I can add attributes to a `UITextView` using `addAttribute()`. What's a good way to add my own (e.g. for increasing line-height and changing the line-height programmatically)?

[code]

[2016-12-27 03:21] droidery commented on #9
Subclassing to provide an attribute works, but seems very hacky.

Is there a better way?

[code]

[2016-12-28 10:09] raspu commented on #9
Hi @droidery, there's no support for that right now, but I can totally add this on a future release. CodeAttributedString will dynamically add attributes to the text, and this as a side effect will remove the current attributes of the line being processed.

I will need to take some time to think of a proper solution, but for now I think your approach is the best one.

[2016-12-30 17:47] raspu opened #10 "Add automatic language detection support to CodeAttributedString."

[2017-01-16 15:49] revblaze opened #11 "Fix hidden keyboard issues"
Amazing project you have going here! I am very intrigued. The only issue I seem to have encountered is the issue when attempting to scroll down to the bottom when the keyboard is up. You can even type behind the keyboard and the bottom of the code is missing too. Besides that, very stable project. Well done.

[2017-01-16 16:15] raspu opened #12 "Refactorig needed"
The code right now is a little messy and could use a big refactoring to make it easier to follow and more scalable.

[2017-01-16 17:04] raspu commented on #11
Thanks, I am glad you found Highlightr useful.

About the issue, is this a bug in the sample project? Because I don't think the library can interfere with the keyboard in any way... Would you please detail the issue a little more? Can you tell me what were you trying to do, what part of the library were you using, and maybe the steps to reproduce it?

[2017-01-17 01:39] cyanzhong commented on #12
Totally agree with that, this project is awesome.
I'd like to see a delightful structure and flexible code.
It would be a great project! 👍

[2017-01-17 13:20] raspu commented on #12
Hi @cyanzhong thanks for the support, I am not sure when I will able to work on this, but it's certainly needed.

[2017-02-02 11:44] Aft3rmathpwnz opened #13 "Objective-C usage"
Hi, is it possible to use Highlightr with Objective-C? I created sample project in which added to pod file ios-charts and Highlightr (both in swift, using   use_frameworks!), and I am able to @import Charts; and use its classes unlike Highlightr.

[2017-02-03 14:28] raspu commented on #13
Hi @Aft3rmathpwnz, the latest release doesn't support objc, sorry about that. But #14 is actually about this, so probably you'll see it in the near future.

[2017-02-03 14:34] Aft3rmathpwnz commented on #13
Thanks for response, @raspu ! Can I mark some previous version in pod file to use it in objective-c? if so, which version should I use? Thanks again!

[2017-02-03 14:39] raspu commented on #13
Sorry, no, this is a new feature.

[2017-02-18 13:34] #11 closed

[2017-03-22 08:05] LeaderBoy opened #15 "Why don't you use singleton?"
When the objects of CodeAttributedString and Highlightr  are increasing, it will block the interface

[2017-03-22 11:16] raspu commented on #15
Syntax Highlighting is a slow process, even if we were not using JS to do it. Highlightr is doing this process in the calling thread because I am assuming the users will move this process to a background thread if they need to. CodeAttributedString, on the other hand, is managing this for you as it's dealing - indirectly - with the UI, so it's performing all the heavy logic on a background thread.

[2017-03-24 09:44] #15 closed

[2017-07-30 13:12] brunophilipe commented on #12
I'm working on some improvements to this code, you can check my fork repo.

Are you welcome to breaking changes? I have replaced a nullable property for an enum in `CodeAttributedString`, for example. If these changes are merged back, they should probably be put in a new major version, I guess.

[2017-08-02 06:54] twitteriosdevelopment opened #19 "How to install?"
Whats the easiest way to install the framework?

[2017-08-03 19:11] raspu commented on #12
Hi @brunophilipe! That's awesome, thank you!

About the language detection for the CodeAttributedString, I wasn't able to do this before because the way the library works (and is the same concern I have with #17), it will highlight only the line that the user is currently editing, and the detection system sometimes is not able to detect the language with just one line of code. Maybe to make it mor

[2017-08-03 19:18] raspu commented on #19
[CocoaPods](https://cocoapods.org/) is the easiest way.

[2017-08-08 07:33] #19 closed

[2017-08-21 05:55] purkylin opened #20 "I met some crash: JavaScriptCore`WTF::CrashOnOverflow::crash:"
JavaScriptCore`WTF::CrashOnOverflow::crash:

[2017-08-21 07:31] raspu commented on #20
Hi @purkylin, do you have a full stack trace, or more detail about what was happening when you saw this crash? Also, was this on macOS or in iOS, and what kind of device?

Now, this is an overflow, where you trying to highligt a really long code?

[2017-08-22 09:49] purkylin commented on #20
Not too long.
Only occurs when my iPhone connect to my Mac, any the safari auto connect is enabled

[2017-08-22 12:12] raspu commented on #20
@purkylin That is not enough information to start investigate this, do you have a full stacktrace? or steps to reproduce?

[2017-09-09 08:57] purkylin opened #23 "highlight json string, which contain a url"
sample:
[code]

But the result is:  *"http:\/\/google.com"*

[2017-09-30 02:19] GrfxGuru opened #24 "Swift 4 and Xcode 9 Compatible?"
I am having a problem getting this to work with Swift 4 in Xcode 9. Can anyone confirm that has yet to be updated to support compilation for those versions?

This seems like a great idea!

Thanks.

[2017-10-02 10:42] andypiper commented on #24
It has not been updated for Swift 4 so far, as far as I can tell...

[2017-10-02 11:30] raspu commented on #24
Hi guys, sorry for the delay. There's some work on the swift4 branch, but I don't think is ready for production. Tbh I don't have the time to work on this nowadays, so I am very open to pull requests.

[2017-10-02 11:32] raspu commented on #24
Also, take a look at what @brunophilipe is doing [here](brunophilipe).

[2017-10-02 14:54] GrfxGuru commented on #24
Thanks @raspu for the update and pointer. If I get time I will try and help out.

[2017-10-02 14:54] #24 closed

[2017-10-02 20:43] raspu commented on #24
You are welcome :).

[2017-10-03 10:11] #20 closed

[2017-10-21 13:40] welljsjs opened #25 "How to install Highlightr without issues?"
Hey, I installed 'Highlightr' the following way:

<code>
    cd "My_App"
</code><br>
<code>
    pod init
</code><br>
Edited Podfile: <br>
<pre>
source 'https://github.com/CocoaPods/Specs.git'
use_frameworks!
# Uncomment the next line to define a global platform for your project
# platform :ios, '9.0'

target 'My_Target' do
    pod 'Quick'
    pod 'Nimble'
    pod 'Highlightr'
end<br>
</pre>I only

[2017-10-21 16:01] rudedogg commented on #25
I'm not sure it's required, but does adding the platform to the podfile work?

[code]

[2017-10-21 16:10] welljsjs commented on #25
@rudedogg Unluckily, does not seem to help. Still 23 errors displayed.

[2017-10-21 22:35] rudedogg commented on #25
@welljsjs Are the errors related to Swift 4? In Xcoe, if you go to the "Pods" project inside your project's workspace, does the Highlightr target have a build setting for the swift version?

[2017-10-22 07:54] welljsjs commented on #25
That looks good! Setting the swift version to 3.2 removed all errors.
Hopefully Highlightr will support Swift 4 soon.

Thanks a lot for your help! 😃

[2017-10-22 14:55] rudedogg commented on #25
@welljsjs Awesome! No problem.

You'll have to do the same thing if you run `pod update` unfortunately. Hopefully this will be fixed soon by either https://github.com/CocoaPods/CocoaPods/issues/7134 or a PR to update Highlightr to Swift 4

[2017-10-25 07:59] raspu opened #26 "Swift 4 support"

[2017-10-25 08:00] raspu commented on #25
Guys, I am closing this issue, I created #26 as a follow up.

[2017-10-25 08:00] #25 closed

[2017-11-27 09:21] #26 closed

[2017-12-03 00:24] brunophilipe commented on #12
@raspu I believe I have figured out a neat way to fix the highlight during editing.

Unfortunately I don't believe it is possible to avoid re-highlighting the entire string sometimes, as if, for example, you add a `/*` for a block comment, you'd need to know when to stop highlighting. To do this reasonably well would mean to basically reimplement highlight.js...

However, in my own testing, this s

[2017-12-04 13:16] raspu commented on #12
@brunophilipe that sounds awesome, I am looking forward for your PR. I thought about doing something like that before, but I never had the time to test it :).

Is really so much faster to use Objc? If that's so I can easily port the library to Objc...

[2018-01-02 02:40] purkylin opened #31 "required version is too high"

[2018-01-02 15:03] raspu commented on #31
Required version of what, sorry?

[2018-01-05 04:33] purkylin commented on #31
10.0

J.P. Illanes <notifications@github.com>于2018年1月2日 周二下午11:03写道：

[2018-01-05 04:33] purkylin commented on #31
purkylin <purkylin@gmail.com>于2018年1月4日 周四下午8:44写道：

[2018-01-05 09:35] raspu commented on #31
Min iOS Version required: 8.0
Min macOS Version required: 10.11

[2018-01-05 09:35] #31 closed

[2018-01-19 12:49] Desgard opened #32 "The UITextField can't show the whole code file"
In your demo, the `Maxima` file:

[code]

But in the demo, your `UITextField` can't show all the letters:

![img_57f9ac6633c7-1](https://user-images.githubusercontent.com/7804535/35151696-42b821a2-fd5a-11e7-886e-77bca6e08e66.jpeg)

[2018-01-19 12:51] raspu commented on #32
Wierd, I'll take a look at it, but must probably is an issue in the demo, not in the library.

[2018-01-19 13:02] Desgard commented on #32
@raspu I kill the app, and restart. It go back to normal. 🤣
I will try to find the problem...

[2018-01-19 13:04] raspu commented on #32
Lol, let me know if you can reproduce it again.

[2018-01-19 16:19] Desgard commented on #32
It's a very very strange question.

In the demo, if you choose the device to *iPhone 8* in `.xib` file, the code will be less than the origin code.

WTF!!!

[2018-01-23 09:03] JosephShenton opened #34 "Trying to build an app gives errors"
I get lots of these types of errors: Method does not override any method from its superclass

[2018-01-23 09:47] #34 closed

[2018-01-23 09:50] JosephShenton opened #35 "Theme not settings"
For some reason the theme isn't setting. It's probably really easy but i can't figure it out

heres my code

[code]

[2018-01-23 09:57] #35 closed

[2018-01-23 10:15] raspu commented on #35
Hey @JosephShenton, one quick question, where did you find about out highlightr? I am seeting a lot of traffic, but I have no idea were is coming from.

[2018-01-23 11:17] JosephShenton commented on #32
I have this issue as well

[2018-01-23 11:44] JosephShenton commented on #32
I fixed it with the following code

[code]

[2018-01-24 03:34] JosephShenton commented on #35
I found out by Googling "Swift Syntax highlighter github"

[2018-01-24 03:48] JosephShenton commented on #32
You can see it used and working in this app

Phantom HTTP by JJS Digital Pty Ltd
https://itunes.apple.com/au/app/phantom-http/id1335468125?mt=8

[2018-01-24 09:16] raspu commented on #32
Thank you @JosephShenton I will try to fix it later today using your code.

[2018-01-24 13:16] raspu commented on #35
Well, that doesn't explain the rest of the people :S ... But, thank you.

[2018-01-29 01:42] Desgard commented on #32
@JosephShenton I use your code to solve this problem. And I found your way is to change the `textContainer`'s height dynamically.
And now, I wanted to achieve an effect, which needs to **keep one line code to show in one line** (not wrap automatically). And by your way, I calculate the **Text Height** - `(Font Size + Line Interval) * Lines`, but it still wrapped automatically..😭
So, is there any i

[2018-01-30 09:24] JosephShenton commented on #32
Disable text wrapping on the textview maybe?

[2018-02-01 00:37] Ivan-Cantarino commented on #9
I would definitely love a solution for this!
We could use your on the fly parser (I'm using it for Markdown) but with our default attributes, such as a custom font being processed with your engine.

[2018-02-03 14:06] p0fi opened #36 "How to build the framework without cocoapods"
I want to use just the framework but I cant build it. Is there a way to just build it without cocoapods?

[2018-02-05 09:31] raspu commented on #36
Hi, currently there's no way to do this on the master branch, but there's a Carthage project on the develop branch I have been working on, I just updated it to use the latest code from master and seems to be building correctly, but I haven't tried to use it on a real project. Also, It's not configured to build an universal framework so you will need to build it either for device or for simulator.

[2018-02-06 19:54] raspu commented on #9
@Ivan-Cantarino You will need to call `setCodeFont` on the Theme instance every time you change a theme, there's no other way right now.

[2018-02-21 22:22] rudedogg commented on #36
Hey @raspu, haven't been involved with Highlightr for a bit. I'm toying around with Carthage, and was able to install Highlightr using the develop branch. I noticed there's an issue with the deployment target. It's not specified on the Project, and defaults to 10.12 (rather than 10.11). Should I just commit this to develop?

[2018-02-22 13:38] raspu commented on #36
Thank you @rudedogg, let me know if you were able to use the dev. branch for this...

[2018-02-22 16:15] rudedogg commented on #36
@raspu Yes, it works great! I had an edit to my previous comment saying this, but I must of closed the tab 😆.

[2018-03-07 13:19] steve-taylor commented on #35
@JosephShenton can you please share with us how you resolved this? I have the same problem.

[2018-03-07 13:40] steve-taylor commented on #35
I realised that the theme was indeed working, just that the background color of the `UITextView` also needed to be set:

[code]

[2018-03-17 17:25] rudedogg opened #38 "Provide a theme enum?"
What are your thoughts on providing a theme enum? There are 79 styles/themes currently, so it'll be a pretty large enum, but it seems like it would make the API a little more swifty.

[2018-03-17 18:01] rudedogg commented on #38
Here's an extension that makes this work:
[code]

[2018-03-19 09:20] raspu commented on #38
I like this a lot! Awesome idea :).

[2018-03-19 18:18] rudedogg commented on #38
Sweet! I'll try and get a PR up soon. If someone else wants to feel free.

[2018-04-10 08:44] raspu commented on #36
You can use Carthage as alternative for CocoaPods starting from 2.0.1. I'll close this issue.

[2018-04-10 08:44] #36 closed

[2018-04-18 13:51] QinGuan2004 opened #42 "Highlightr in a collection view"
How would u put highlightr in a collection view? my idea is that you can give a live preview of a document however due to the collectionview having to dequeue cells the entire code highlighting  is re rendered and takes up way too much system resources. Is there a more efficient way to do this? Also, isit possible to take a snapshot of the view of the highlighted code, for now the snapshot capture

[2018-04-18 14:00] raspu commented on #42
Maybe you can have an independent highlighting service, and each item of the collection view just has a NSAttributedString, and then when the item is going to be displayed you then send the text-code to the highlighting service and when is ready (do this asynchronously of course) you replace the text on the corresponding item  This way you display the code without highlighting first, and then when

[2018-04-18 14:15] QinGuan2004 commented on #42
if i cache the highlighting its taking 200-300 of memory uhh...

[2018-04-18 14:16] raspu commented on #42
200-300 what? kb? Also, what are you caching and how are caching?

[2018-04-30 07:38] jwelton opened #45 "Carthage Prebuilt Release Binary"
If a prebuilt binary is added to a release, then by default Carthage will pull the binary instead of checking out the code and building from scratch. This can significantly improve CI performance.

It would be nice to add binaries to releases here too. Instructions can be found inside the Carthage README on how to build a binary, then you just attach it to the release.

[2018-05-01 09:06] raspu commented on #45
Hi @jwelton , that's a good suggestion, I don't really use Carthage so I wasn't aware of this. I will add builds to the next release.

[2018-05-07 20:36] brendand opened #46 "Line numbers"
Is there a function to display line numbers along the left side of the view? The syntax highlighting is great. Just needs line numbers.

[2018-05-08 09:57] raspu commented on #46
This is not supported yet, and to be honest I don't currently have the time to implement it, but feel free to send a PR if you do so.

[2018-05-14 19:27] AaronLatnok opened #47 "Create a custom theme"
Hi Raspu,
Thank you for your amazing work.
I have a question: is it possible to create a custom theme?
Or in another way, is it possible to change the font and the color of the text? Because I have read something about it on other issues but I haven't understood it very well
Thank you for your patience

[2018-05-14 19:42] raspu commented on #47
Hi @AaronLatnok I am glad you like it :).

You can always modify the font of a theme, if you see the [Theme class](https://github.com/raspu/Highlightr/blob/master/Pod/Classes/Theme.swift) there's 3 properties you can use to modify this:
[code]
And, if you want to get the font variations automatically populated from a regular font you can also use: `open func setCodeFont(_ font: RPFont)` and it wil

[2018-05-15 15:52] Ivan-Cantarino opened #49 "Not an issue"
# This is just a big thank you for this framework.

[2018-05-15 15:53] #49 closed

[2018-05-15 18:01] raspu commented on #49
You are very welcome :), I just wish I had the time to improve it even further...

[2018-05-15 21:08] AaronLatnok commented on #47
Thank you so much Raspu, you helped me a lot! Done it without any problem
I have a last doubt: is it possibile delete themes and languages? In my app I want to show just few themes and seven coding languages. I tried to delete what I don't need from the project but the app crashes, so I have looked for some dependencies but I didn't find them (I typed the name of the files, but in truth I don't kn

[2018-05-15 21:28] raspu commented on #47
Hi, I am glad you were able to make it work!

About removing themes and languages, did you try just deleting the JS files and the CSS files? I never tried this myself tbh... If that doesn't work you can always make a list of theme and languages yourself and present that as the only option to the user, no need of modifying the library itself... But if you really need to avoid including those files

[2018-05-24 08:08] raspu commented on #47
Hi @AaronLatnok, I am going to close this issue for now, feel free to re-open it if you have more questions.

[2018-05-24 08:08] #47 closed

[2018-05-29 09:32] pmusolino commented on #23
Any news about that?

[2018-05-29 09:52] raspu commented on #23
Hi @pmusolino, sorry I haven't had the time to look into this.

[2018-06-21 18:04] kabiroberai opened #51 "Non-deterministic rendering in fast renderer"
When rendering nested classes, the fast renderer determines which style takes precedence in a non-deterministic manner.

Eg.
`xcode.css` has the following definitions (simplified here for the sake of brevity):
[code]

The following JS snippet
[code]
is converted to
[code]

In the aforementioned snippet, `Foo` should turn purple, however in reality the renderer randomly picks between blue and purpl

[2018-07-01 19:39] raspu commented on #51
Seriously? That's a really interesting issue I will take a look at it when I find some time.

[2018-07-06 09:39] cntrump opened #53 "an Objective-C version"
https://github.com/cntrump/HighlightrObjC

[2018-07-09 02:02] cntrump commented on #32
tested https://github.com/raspu/Highlightr/pull/52

the key:
`let textContainer = NSTextContainer()`

[2018-08-06 02:59] zzt4 opened #54 "Make theme text colors available through public interface"
When designing my app, I wanted to have access to some of the specific theme colors. This is handy when trying to customize your app to match the theme the user has chosen. For my use case I just made `themeDict` public so I can quickly access it and grab the theme colors I wanted. In the example app, you just use the inverse of the background color. While this works most of the time, sometimes it

[2018-08-08 07:49] raspu commented on #54
Hi @zzt4 , yes I like this idea, I would try to make some time to make this and other pending changes this month.

[2018-08-08 07:49] #53 closed

[2018-08-21 10:19] 4np commented on #46
Not going to happen: https://highlightjs.readthedocs.io/en/latest/line-numbers.html

[2018-12-15 02:32] KristopherGBaker opened #56 "New CocoaPods version for Swift 4.2"
Hi,

Could you please release a new version to CocoaPods that includes the Swift 4.2 changes?

Thanks

[2018-12-16 22:10] raspu commented on #56
[Done!](https://cocoapods.org/pods/Highlightr)

[2018-12-16 22:10] #56 closed

[2018-12-23 04:06] toshi0383 opened #57 "carthage install failure"
`carthage update --platform ios` with Xcode10.1 failed.

[code]

[2018-12-30 19:13] #57 closed

[2019-01-13 07:10] steve-taylor commented on #32
@JosephShenton after a lot of searching, it look like disabling text wrapping in `UITextView` is impossible. But if you know otherwise, please let us know.

[2019-02-22 12:21] jkpang opened #60 "[v2.1.0] Some code files are not highlighted"
Hello, I'm trying to load this code text:
https://raw.githubusercontent.com/brianegan/fancy_network_image/master/lib/fancy_network_image.dart
[code]
But after I replaced the **highlight.min.js** file in v2.0.1 with v2.1.0, the code was successfully highlighted.
So I think it is an error caused by **highlight.min.js** in v2.1.0.
Thank you very much for your open source！

The result is shown below:

[2019-02-23 22:26] geberl commented on #9
2019 / Swift 4.2 version of **ghost's** code snipplet from above:

[code]

[2019-02-25 13:03] raspu commented on #60
Interesting, I assume the problem is with highlight.js. Let me try with the latest version.

[2019-03-08 02:21] lukakerr opened #61 "RTL Writing direction doesn't work"
I'm using macOS. I've noticed that when setting the writing direction in a NSTextView by right-clicking, and choosing `Writing Direction > Right to Left`, whenever the text changes the direction gets un-set, but when all text is removed, the cursor correctly appears on the right hand side of the text view.

I had a dig in to the code and believe this is happening in the `highlight(_ range: NSRange

[2019-03-08 03:11] lukakerr commented on #61
Just FYI, I managed to fix this on my fork - https://github.com/lukakerr/Highlightr/commit/5c35cecb0e345892122eb47533e87c06ef4286fd (also updated to Swift 4.2 as well). After testing, Right to Left direction seems to work for me on macOS.

I'm not 100% sure if this fix is correct, as I've never developed for iOS and am not even sure how to get the writing direction on iOS. If you think it's fine,

[2019-03-26 19:59] Kidsmile88 commented on #60
It is so beautiful. perhaps less boring than working with it. 😊

[2019-04-17 21:08] greay opened #62 "is there a way to make links clickable?"
I'm primarily using this for Markdown, and one of the features I'm sorely missing, and can't figure out, is how to make URLs and such clickable.

[2019-04-17 21:38] rudedogg commented on #62
I'm not sure, but I think this can be done with the `UITextView`/`NSTextView`. I found some properties you can try:

- https://developer.apple.com/documentation/appkit/nstextview/1449170-isautomaticlinkdetectionenabled
- https://developer.apple.com/documentation/uikit/uitextview/1618607-datadetectortypes

[2019-04-17 22:10] greay commented on #62
unfortunately, whatever Highlightr is doing seems to break that, so the links aren't automatically detected.

I'm currently working on iOS, but I will need macOS, eventually.

[2019-04-25 07:43] zlyBear opened #63 "chathage install failed"
[code]

[2019-04-25 08:13] zlyBear commented on #63
#57 same question

[2019-05-01 18:05] Ivan-Cantarino opened #64 "Change font and font-size for specific theme"
Hello.

I was wondering if there's a way to change the font and the font size for a specific theme, let's say "Markdown".

I've tried to set it as the font of the `UITextView` but it keeps changing to some default one. I think that it changes due to the applied theme but I cannot find where it is default set to.

I'm using `CodeAttributedString` to perform the real time highlight

Can someone poin

[2019-05-01 21:39] Ivan-Cantarino commented on #8
Somehow I cannot put this to work when using `CodeAttributedString()` with `Markdown`

[2019-05-01 23:19] Ivan-Cantarino commented on #64
I noticed I could do this in previous versions of highlightr but now I cannot, and don’t know why.
@raspu any hint?

[2019-05-02 22:00] Ivan-Cantarino commented on #64
I’m currently using the `default.min.css` theme and I’ve looked into the file and cannot find a way to change the font. I’ve looked as well into the `CodeAttributedString` and where the font is set to `Courier` whenever I change that value the font stays the same

[2019-05-21 03:18] xiongxiongjiang opened #65 "highlightOnChange"
I have see an api "highlightOnChange" and its description is "Automatically updates highlight on text change.", but when I write "textStorage.highlightOnChange = true", it didn't work,why?

[2019-05-27 20:59] guillermomuntaner commented on #63
@zlyBear Carthage relies on git tabs, but this merge request was never tagged, so you can get latest changes using:
`github "raspu/Highlightr" "master"`

@raspu Would you mind tagging the changes?

[2019-05-27 21:01] guillermomuntaner commented on #57
Missing to tag the merge so it is available via default carthage usage.

[2019-05-30 17:47] wooorm opened #66 "Consider using lowlight"
Hi! 👋 I actually don’t use Swift, or this project, but I have spent time thinking about a similar problem: how to use highlight.js if not compiling to HTML.

Highlight.js (and Prism, another popular highlighter in JS) rely heavily on HTML, but I built [lowlight](https://github.com/wooorm/lowlight) and [refractor](https://github.com/wooorm/refractor) to work around that. Instead, they return JSON,

[2019-06-03 08:30] raspu commented on #63
Sorry for the delay guys, now is tagged.

[2019-06-03 08:30] #63 closed

[2019-06-03 08:30] raspu commented on #57
Done! Sorry for the delay!

[2019-06-03 08:31] raspu commented on #65
Can you give an example of what are you trying to do, what do you expect and what is the result?

[2019-06-03 08:32] raspu commented on #66
That is actually really interesting, I will try to find some time to play with it.

[2019-06-03 08:35] raspu commented on #64
Did you tried using [`setCodeFont`on the Theme object](https://github.com/raspu/Highlightr/blob/87465e7ac116a4c8672fa29aae840e9c9e68bedb/Pod/Classes/Theme.swift#L89)?

[2019-06-03 17:09] Ivan-Cantarino commented on #64
Yes I did, but it doesn’t work!

[2019-06-05 01:14] xiongxiongjiang commented on #65
for example:
[code]
if I insert code after line 2, like this:
[code]
the line 3 can be highlighted,
but if insert code  between line 1 and line 2 like this:
[code]
the line 2 didn't be highlighted.

[2019-06-18 17:56] rafaelreis-hotmart opened #67 "maybe there's an issue related to Objective C bridge"
There's a crash on Highlightr init, specially at follow code line:

`let value = jsContext.evaluateScript(hgJs)`

XCode show the follow message:
Warning: could not execute support code to read Objective-C class data in the process.

Can someone help me with this ?

[2019-07-02 07:53] bpisano commented on #12
I've tried some code refactoring with some improvements in #69. Let me know what you think.

[2019-07-05 06:04] simonboots opened #70 "Enable APPLICATION_EXTENSION_API_ONLY"
In order to allow us to use Highlightr in app extensions, the APPLICATION_EXTENSION_API_ONLY flag needs to be set to YES. There doesn't seem to be a technical reason to keep this flag set to NO.

[2019-07-15 00:58] matteobart opened #71 "CodeAttributedString manual rehighlight"
It would be nice if there would be a way to manually trigger a rehighlight from the auto-highlight feature (CodeAttributedString). Essentially, on top of the highlighting, I am using a yellow highlighter to display certain text (like a Find feature). However, the only way to remove this highlighting is when a user start typing, so that it re-highlights the text.

If anyone knows a simple work arou

[2019-08-25 23:19] RobertoMachorro commented on #46
Highlightr just does the coloring using the *highlightrjs* library - it's an *NSTextStorage*, but the actual rendering is still done by Cocoa's *NSLayoutManager and NSTextContainer*.

I'm going to give this a shot using a vertical *NSRuler*, based on the information in the following links:

[Displaying Line Numbers with NSTextView](https://www.noodlesoft.com/blog/2008/10/05/displaying-line-numbers

[2019-09-11 01:45] cntrump commented on #13
You can try my objc port https://github.com/cntrump/HighlightrObjC

[2019-10-01 11:51] sirachlotz commented on #71
Possible workaround:
`textStorage.invalidateAttributes(in: NSMakeRange(0, textStorage.length))`
where textStorage is your CodeAttributedString.

You can obviously change the range for increased performance.
Hope that helps!

[2019-10-04 15:52] catilac opened #74 "Does not work with Xcode 11"
Some of the code is incompatible with swift 4.2
Happy to help with some direction, I've never worked in this codebase though. Is anyone working on this?

[2019-10-18 05:05] appfrilans opened #75 "Abandoned?"
Is this project abandoned? Have not seen to be any updates last year and no pull requests are merged?

[2019-11-11 18:30] catilac commented on #75
Definitely abandoned. I'm going to use highlight.js inside of a webview and see how it goes.

[2019-11-23 10:36] funkenstrahlen commented on #64
It does work for me as expected.

[2019-11-23 10:37] funkenstrahlen commented on #74
I just added the Pod in Xcode 11.2 and it works fine.

[2019-11-23 15:55] catilac commented on #74
@funkenstrahlen ooh really? Okay, I'll give this another try soon.

[2019-12-16 14:15] laosb opened #76 "Support Swift PM"
Supporting Swift PM would ease the development a lot.

[2020-02-02 18:55] zachgibson commented on #64
Works for me too.

[2020-02-04 16:13] zachgibson commented on #54
@raspu any updates on this? Would you want some help?

[2020-02-21 06:58] fadielse opened #77 "How to make scrollable in macOS"
Hi this library is cool..
but i got problem when i want to make NSTextview scrollable when the the text is over the height of textview. how to make it possible?
I have done many experiments but it still hasn't worked

thanks

[2020-03-06 03:00] twodayslate commented on #76
@helje5 has a decent port that supports SPM
https://github.com/helje5/Highlightr

[2020-03-06 10:13] helje5 commented on #76
If there is a chance for acceptance, I could make it a proper PR. You may want to just wait for SPM resource support though.

The way my patch works is by bundling up the resources as Swift Strings using something I originally made for Server Side Swift ([SwiftWebResources](https://github.com/SwiftWebResources)). It's a little awkward because I bundle the resources as gzip'ed data (for web deliver

[2020-05-29 14:06] #60 closed

[2020-06-07 00:32] codeshif commented on #77
Can you send a screenshot ?

[2020-06-26 07:19] codeshif commented on #71
Cannot work.

[2020-08-11 00:02] wojciech-kulik commented on #8
I have found a solution. Pass to `CodeAttributedString` modified `Highlightr`:

[code]

[2020-09-15 14:07] ActuallyZach opened #78 "How to add new languages?"
### Problem
I have tried to replace the Highlight.min.js with a new file generated from compiling Highlight.js with the command
`node tools/build.js jelly swift json javascript`
This outputs a highlight.min.js file. When I replace the highlight.min.js file inside of Highlightr, it returns nil after instantiating the Highlightr class.
### Question
How should I go about adding languages? Is there a

[2020-09-17 09:18] L1cardo commented on #76
Since Swift5.3 is now released, `.copy`can be implemented to support this feature.
https://developer.apple.com/documentation/swift_packages/bundling_resources_with_a_swift_package

[2020-09-19 15:04] RobertoMachorro commented on #74
I have a Pull Request pending that brings it up to Xcode 12: #73

[2020-09-19 15:06] RobertoMachorro commented on #75
I currently use this for my [text editor](https://github.com/RobertoMachorro/Moped), so I've been keeping a brach/PR (#73) going with updates. Feel free to use the PR or my fork directly (same code).

[2020-09-19 15:08] RobertoMachorro commented on #77
I'm not sure I understand what you are trying to do, maybe upload a video or screenshots?
I currently use Highlightr in my [text editor](https://github.com/RobertoMachorro/Moped) with no scroll issues.

[2020-09-24 06:05] L1cardo opened #79 "Better SwiftUI Support"
Is it possible to let Highlightr support SwiftUI better?

[2020-11-20 09:38] conorgriffin commented on #79
@L1cardo does it even work in SwiftUI as it is?  I'd appreciate an example of how you use it now

[2020-11-20 10:34] L1cardo commented on #79
Actually I didn't use this in my project.
I recommend you two other options:
https://github.com/Pictarine/CodeMirror-SwiftUI

[2020-11-26 20:45] conorgriffin commented on #79
Neither of those seem to work on Big Sur, both throw errors like these

[code]

[2020-12-04 07:50] L1cardo commented on #79
I haven't tried them on Big Sur yet, but they worked well on Catalina

[2020-12-10 09:55] #76 closed

[2021-01-12 18:53] #78 closed

[2021-01-22 03:00] AdamBCo commented on #75
@raspu Any update on this?

[2021-01-22 19:58] RobertoMachorro commented on #75
I can't speak on behalf of @raspu, however I follow the master branch for this repo closely (I have a fork). He has been busy lately merging Pull Requests in December, so I don't believe the project to be abandoned, just slow.

[2021-03-19 17:20] MadSci356 opened #82 "Need to make a release tag so Xcode can add the package using Package.swift"

[2021-04-16 19:47] brendand opened #83 "Build error in HTMLUtils.swift"
I'm trying to build my app with the latest Xcode 12.5 beta 3 and I'm getting a build error due to this code in `HTMLUtils.swift`

[code]

I believe it's from the `stroul()` call.

The error is:

[code]

Does anyone have a solution for this or know a workaround?

[2021-04-17 06:26] brendand commented on #83
Looks like this should solve it:

[code]

[2021-04-22 06:25] sniperboy0829 opened #84 "Which version does SPM support?"
when I use version 2.1.1 SPM tips "has no Package.swift manifest"

<img width="643" alt="Screen Shot 2021-04-22 at 14 17 48" src="https://user-images.githubusercontent.com/79051801/115666063-aedb2d00-a376-11eb-9c41-3b589ff3efa3.png">

[2021-04-22 06:25] sniperboy0829 commented on #84
![Uploading Screen Shot 2021-04-22 at 14.17.48.png…]()

[2021-04-22 07:57] raspu commented on #84
I just tagged 2.1.2.

[2021-04-22 07:57] #84 closed

[2021-04-22 07:58] raspu commented on #82
Tagged it with version 2.1.2

[2021-04-22 07:58] #82 closed

[2021-04-22 08:05] raspu commented on #75
Hi guys, I think it's quite obvious I am no longer maintaining this, I am super sorry about that. I can add contributors if any of you would like to keep it alive, I'd really appreciate it a lot. If not you can use some of the forks that are more up to date.

[2021-04-22 08:07] #74 closed

[2021-04-22 16:38] RobertoMachorro commented on #75
@raspu sorry to hear this, I have a fork and I'm willing to contribute on the project - however, I would be unable to lead due to the level of commitments I currently have.

[2021-04-22 20:41] raspu commented on #75
@RobertoMachorro That's alright, if you can help maintain it that's more than enough. I will add you as a contributor.

[2021-04-29 10:07] mateogianolio commented on #83
How did you find out it was from the `strtoul()` call?

[2021-05-09 07:36] brendand commented on #83
Trial and error commenting out code. Then some Googling which lead me to the above solution.

[2021-06-25 05:10] #61 closed

[2021-06-25 10:36] RobertoMachorro commented on #61
Hi @lukakerr , are you doing a pull request from your fork?

[2021-07-04 00:48] RobertoMachorro opened #85 "Some themes use a thin and light cursor (almost invisible) cursor"
This was reported in [Moped issue 19](https://github.com/RobertoMachorro/Moped/issues/19) by @mikepetty21. Take a look for details.

![](https://user-images.githubusercontent.com/610160/119866876-43432d00-beeb-11eb-956e-0a94897a80a6.png)

[2021-07-04 01:08] RobertoMachorro commented on #85
After reviewing the code, this is best fit handling on the application itself, not the library.

For reference purposes, I'll using the [insertionPointColor](https://developer.apple.com/documentation/appkit/nstextview/1449309-insertionpointcolor) property from NSTextView. Closing issue and branch.

[2021-07-04 01:08] #85 closed

[2021-12-14 20:14] FMA606 commented on #83
- [ ] - there [
]()

[2022-07-21 17:05] iiplayer commented on #64
You can be like this：
`CodeAttributedString().highlightr.themeChanged = { theme in
          theme.setCodeFont(RPFont(name: "Courier", size: 10)!)
  }`